.container__principal {
    margin-bottom: 2%;
}

.container__imagem {
    max-width: 100%;
    height: auto;
    margin-bottom: 2%;

    
}
    

.link__principal {
    text-decoration: none;
    color: var(--cor-secundaria);
}
   
.carrossel__botao {
    position: absolute;
    top: 45%;
   
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
}

.carrossel__botao:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.botao-anterior {
    left: 1%
}

.botao-proximo {
    right: 1%;
}